@model IEnumerable<DiscountViewModel>

@{
    ViewData["Title"] = "View";
}

<h2>Product Discount Listing</h2>
<div>
    <a asp-action="Index" asp-controller="Product">Back to Product</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDiscountRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.ProductId)
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductDiscountRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active )
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Product">Back to Product</a>
</div>
