@model Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete and existing Product</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>*@
            <dd>
                @Html.HiddenFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                <img src="data:image/png;base64, @Html.DisplayFor(model => model.Image)" width="50" alt="@Html.DisplayFor(model => model.Name)" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>*@
            <dd>
                @Html.HiddenFor(model => model.CategoryId)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">List Products</a>
</div>
